<%- include("partials/header") -%>

<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="postTitle" />
    <label>Post</label>
    <textarea class="form-control" name="postContent" id="" rows="5"></textarea>
  </div>
  <!-- <div class=""> -->
  <!-- </div> -->
  <button type="submit" class="btn btn-primary" name="publishButton" value="">
    Publish
  </button>
</form>

<%- include("partials/footer") -%>
